[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
